.unidade {
    background: #fff;
    padding: 5em 0;

    &__container {
        @include container(85%);
        display: flex;
    }

    &__map {
        width: 325px;
        height: 325px;
        border-radius: 50%;
        border: 1px solid #bfbfbf;
        background: url("../img/pro-corpo-estetica-paulista.jpg") center center/cover;
    }
    
    &__info {
        padding: 0 2em;
    }

    &__titulo {
        @include titulo($secondary-color);
        padding: 0;
        margin-bottom: 1.5em;
    }

    &__address {
        color: #333;
        margin-bottom: 1.5em;
    }

    &__input {
        padding: 0.9375rem 0.625rem;
        width: 35%;
        margin-bottom: 1.5em;
    }
}

.btn {
    &-chegar {
        text-transform: uppercase;
        background: $primary-color;
        color: #fff;
        font-weight: 700;
        padding: 1.4375rem 2.1875rem;
        border-radius: 10px;
    }
}